<h1>New Nationality</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.cms_nationality_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.cms_nationality_path(@conn, :index) %></span>
